body {
  font-family: "Inter", "sans-serif";
}

/* typing effects */

 .cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s steps(1) infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }